.mainDivForJobs {
    position: relative;
}

.jobTitle h2{
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    padding: 10px;
    margin: 30px;
}

.allJobs {
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    font-size: 18px;
  }

.singleJob {
    padding: 20px;
    border-radius: 10px;
    position: relative;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    opacity: 0;
    transform: translateY(20px);
  }

  .singleJob.fadeIn {
    animation: fadeInAnimation 0.8s ease-in-out forwards;
  }

.singleJob:hover {
    transform: scale(1.02);
  }

.jobImgAndLogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.jobImgAndLogo img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
}

.jobBtns {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.applyNowBtn {
    font-size: 16px;
    padding: 10px;
    background: linear-gradient(to right, #004d4d, #003131);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}  

.applyNowBtn:hover {
  color: linear-gradient(to right, #004d4d, #003131);
}


.addDeleteEdtiBtn button {
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
  }

.addDeleteEdtiBtn button:hover {
  color: linear-gradient(to right, #004d4d, #003131);
  }

.jobDesc {
    font-size: 14px;
    padding: 10px;
    border: 1px solid rgba(0, 175, 175);
    border-radius: 10px;
    margin: 10px 0;
    font-weight: normal;
    transition: box-shadow 0.3s;
  }

.jobDesc:hover {
  color: linear-gradient(to right, #004d4d, #003131);
  }

.jobPosition {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

.jobLocation {
    display: flex;
    gap: 5px;
    margin: 5px;
    font-size: 13px;
    margin-top: 15px;
  }


.singleTitle,
.req,
.qualification {
  font-size: 15px;
  margin-top: 5px;
  letter-spacing: 1px;
}

.addAJobPage {
    text-align: center;
    position: absolute;
    top: 20px;
    right: 70px;
  }

.addAJobPage a {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 5px;
  margin-top: 70px;
  transition: background-color 0.3s, color 0.3s;
  }

.addAJobPage a:hover {
    color: rgb(0, 26, 26);
  }

@media (max-width: 1050px) {
    .allJobs {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}
@media (max-width: 780px) {
    .allJobs {
        grid-template-columns: 1fr;
    }
    .addAJobPage {
        position: static;
        margin: 30px;
    }
}

.fadeIn {
    opacity: 0;
    animation: fadeInAnimation 0.8s ease-in-out forwards;
  }
 
@keyframes fadeInAnimation {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }