.mainAboutPage {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutNotRounded {
    min-width: 60%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutNotRounded > div {
    width: 80%;
    letter-spacing: 1px;
}

.aboutNotRounded > div p {
    padding: 15px;
    border-radius: 8px;
    margin: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.aboutOutRoundFolder {
  height: 70%;
  min-width: 40%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutRoundedFolder {
  width: 90%;
  padding: 50px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  animation: fadeIn 1s ease-out forwards;
  display: flex;
  align-items: center;
}

.aboutRoundedFolder div h1  {
    font-size: 4rem;
}

@media (max-width: 900px) {
    .mainAboutPage {
        display: block;
        height: auto;
    }
    .aboutRoundedFolder {
        margin-top: 50px;
        width: 90%;
        height: 50%;
    }
    .aboutRoundedFolder div h1{
        font-size: 40px;
    }
    .aboutNotRounded > div {
        margin: 50px 0;
    }
}

.aboutNotRounded > div,
.aboutRoundedFolder {
  animation: fadeIn 1s ease-out;
}

@media (max-width: 600px) {
    .aboutRoundedFolder div h1 {
      font-size: 2.5rem;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }